body{display:flex;
    flex-direction: column;
    justify-content:space-between;
    background-color:#ffffff00;
    margin:0;
    height:800px;
    flex:1 0 100%;
    font-style:italic;
    gap:15px;
    
    }
   
    .color{color:#e5e7eb; font-weight:600}
    .maint{color:#f9faf8; 
    font-weight:bold;
    font-size:48px;}
    .header{display:flex;
    justify-content:space-between;
    flex:1 0 auto;
    }
    .bo{border-radius:20px;}
    .right-link{display:flex; gap:10px;
    }
    
    .top{display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        gap:10px;
        background-color: #053477;
        flex-direction:column;
        padding-bottom:40px;
    }
    
    .tmiddle{display:flex;
    justify-content:center;
  gap:60px;
    }
    
    .ttext{display:flex;
    text-align:start;
    flex-wrap:wrap;
    flex-direction:column;
    max-width:500px;
    gap:10px;
    }
    .signup{display:flex;
        flex-grow:0;
        flex-shrink:2;
        width:90px;
        height:25px;
        justify-content: center;
        align-items:center;
        background-color: #3882f6;
        color:#f9faf8;
        border-radius:6px;
        border-color:#f9faf8;
    }
    .mtext{font-size:36px;
    font-weight:bolder;
color:#1F2937;}

    .box{display:flex; 
    text-align:center;
    flex-wrap:wrap;
    max-width:200px;
   
    }
    .middle{display:flex;
    flex-flow:column wrap;
    align-items:center;
    gap:10px;
    padding:10px;
}
    
    .boxes{display:flex;
    justify-content:center;
    gap:15px;
    }
    
    .qoute{display:flex;
    background-color:#e5e7eb;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    font-style:italic;
    padding:10px;

    
    }
    .qoute-t{display:flex;
    justify-content:start;
    flex-wrap:wrap;
    font-size:30px;
    max-width:600px;
    color:#1F2937;
    
    
    
    }
    .bold{font-weight: 590;}
    .qoute-s{display:flex;
    width:400px;
    justify-content:flex-end;
    font-weight:500;
    font-size:20px;
    }
    .Add{display:flex;
    justify-content:center;
align-content:center;
}

.signup2{background-color:#3882f6;color:#f9faf8;
    border-radius:15px;
    border-color:white;
    width:90px ;
    height:30px ;
}
    .add{display:flex;
    justify-content:center;
    align-items: center;;
    background-color:#3882f6;
    color:#e5e7eb;
    min-height:60px;
    border-radius:10px;
    padding:5px 10px;
    max-width:700px;
flex-grow:1;
    gap:40px;
   }
    .footer{display:flex;
    justify-content:center;
    align-items:center;
background-color:#053477;
min-height: 70px;
color:white;}